<?xml version="1.0" encoding="utf-8" ?>
<config>
  <icon>config\icon.ico</icon>
  <languagefilepath>config\language.xml</languagefilepath>
  <metrouilicensereadme>global\readme\metroui\readme.rtf</metrouilicensereadme>
  <language>Deutsch</language>
  <logfilepath>log</logfilepath>
  <keeplogfileforxdays>7</keeplogfileforxdays>
  <debugmode>true</debugmode>
  <windowwidth>800</windowwidth>
  <windowlength>450</windowlength>
  <fullscreen>true</fullscreen>
  <metrotheme>light</metrotheme> <!-- light and dark possible -->
  <metrostyle>4</metrostyle> <!-- Default = 0,  Black = 1,  White = 2,  Silver = 3,  Blue = 4,  Green = 5,  Lime = 6,  Teal = 7,  Orange = 8,  Brown = 9,  Pink = 10,  Magenta = 11,  Purple = 12,  Red = 13,  Yellow = 14 -->
  <license>
    <sn></sn> <!-- crypt key -->
    <id></id> <!-- computer id -->
    <activation></activation> <!-- activation key -->
  </license>
</config>