<?xml version="1.0" encoding="utf-8" ?>
<config>
  <icon>config\icon.ico</icon>
  <languagefilepath>config\language.xml</languagefilepath>
  <language>Deutsch</language>
  <logfilepath>log</logfilepath>
  <keeplogfileforxdays>7</keeplogfileforxdays>
  <debugmode>true</debugmode>
  <windowwidth>800</windowwidth>
  <windowlength>450</windowlength>
</config>